@import "bootstrap.css";
@import "bootflat.css";
@import "iconmoon.css";
@import "animations.css";
@charset "utf-8";




body{
    background-color: #70bbd9;
    overflow: hidden;
}



.envelopes-container{
    margin: 0 auto;
    text-align: center;

}

.envelopes-container .envelope-wrapper{
    display: inline-block;
    margin: 25px 8px;
}

.envelope {
    -webkit-transition: all .2s ease-in-out;-moz-transition: all .2s ease-in-out ;-ms-transition: all .2s ease-in-out ;-o-transition: all .2s ease-in-out ;transition: all .2s ease-in-out ;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    width: 98px;
    height: 66px;
    background: #c94548;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 1px #c94548 inset;
}


.envelope .flap,
.envelope:after {
    pointer-events:none;
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    height: 0;
    border: 0 solid transparent;
    border-width: 33px 49px;
}
.envelope .flap {
    -webkit-transition: all .3s ease-in-out;-moz-transition: all .3s ease-in-out ;-ms-transition: all .3s ease-in-out ;-o-transition: all .3s ease-in-out ;transition: all .3s ease-in-out ;
    border-top-color: #fa565a;
    top: 0px;
    left: 0px;
    -webkit-transform: rotateX(0deg);
    -webkit-transform-origin: top;
}
.envelope:after {
    border-right-color: #F75357;
    border-left-color: #fa565a;
    border-bottom-color: #fa565a;
    top: 1px;
    border-radius: 0 0 5px 5px;
    transform: rotate(360deg);
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    z-index: 1;
}

.envelope .icon{
    color: #E13D41;
    position: absolute;
    bottom: 5px;
    z-index: 2;
    font-size: 30px;
    width: 100%;
    left: 0;
    text-align: center;
}

.envelope.open .flap {
    -webkit-transform: rotateX(180deg);
    border-top-color: #F55155;
    z-index: 0;
}

.envelope.open .icon-plus-outline:before{
    content: "\e600";
}


.envelope.open .icon-minus-outline:before{
    content: "\e601";
}

.envelope .paper{
    position: absolute;
    background-color: #fff;
    top: 12px;
    left:5px;
    height: 40px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    z-index: -1;
    height: 5px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    transition-delay: 200ms;
    -webkit-transition-delay: 400ms;
}

.envelope .paper h6{
    font-size: 24px;
    color: #434a54;
}


.envelope.open .paper{
    z-index: 1;
    -webkit-transform: translateY(-40px);
    -moz-transform:    translateY(-40px);
    -ms-transform:     translateY(-40px);
    -o-transform:      translateY(-40px);
    transform:         translateY(-40px);

}
