---
title: Cale's Magic Numbers
---
<div class="container nav-container">
  <nav class="" role="navigation">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <button type="button" class="btn btn-link btn-lg">
          <span class="glyphicon glyphicon-volume-up"></span>
        </button>
      </li>
      <li>
        <button type="button" class="btn btn-link btn-lg">
          <span class="glyphicon glyphicon-cog"></span>
        </button>
      </li>
    </ul>
  </nav>
</div>
<div class="main">

</div>